__pycache__/
Code/Files/Seasons/*
!Code/Files/Seasons/.gitkeep
Code/Files/Matches/*
!Code/Files/Matches/.gitkeep
Code/Prova*
Organisation/Report images/
Organisation/~$Apunts.docx
Organisation/~$Gantt.xlsx
Code/geckodriver.log